.App {
  text-align: center;
  /* Created with https://www.css-gradient.com */
  
}

body {

  /* background: #FFFFFF; */
  background: -webkit-radial-gradient(bottom, #FFFFFF, #e9a8f1);
  background: -moz-radial-gradient(bottom, #FFFFFF, #e767f8);
  background: radial-gradient(to top, #FFFFFF, #c538d8);
}
